<ion-header>
  <ion-navbar>
    <div class="logo">
      <img src="assets/imgs/iccLogo.jpg" />
    </div>
    <ion-title>
      ICC-Post
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- Segment pages -->
  <ion-segment [(ngModel)]="page" color="primary" (ionChange)="segmentChanged($event.value)">
    <ion-segment-button value="home">
      Home
    </ion-segment-button>
    <ion-segment-button value="favoritos">
      Favorites
    </ion-segment-button>
  </ion-segment>

  <!-- General div to control segment -->
  <div [ngSwitch]="page">

    <!-- ALL POSTS -->
    <div *ngSwitchCase="'home'">
      <!-- Card with all posts -->
      <ion-card *ngFor="let p of listPost">
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col col-10>
                <p class="title">{{ p.title }}</p>
              </ion-col>
              <ion-col col-2 text-center (click)="favoriteCard(p)">
                <ion-icon class="emptyHeart" name="heart-outline" *ngIf="!p.favorite">
                </ion-icon>
                <ion-icon class="fullHeart" name="heart" *ngIf="p.favorite"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
        <!-- <ion-card-content>
          <p class="body">{{ p.body }}</p>
        </ion-card-content> -->
      </ion-card>
      <!-- Card with all posts -->
    </div>

    <!-- FAVORITES -->
    <div *ngSwitchCase="'favoritos'">
      <!-- Card with all favorite -->
      <ion-card *ngFor="let p of listFavorites">
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col col-10>
                <p class="title">{{ p.titulo }}</p>
              </ion-col>
              <ion-col col-2 text-center>
                <ion-icon class="fullHeart" name="heart"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
        <ion-card-content>
          <p class="body">{{ p.conteudo }}</p>
        </ion-card-content>
        <ion-card-content>
          <p class="detail" (click)="showDetail(p)">SHOW DETAILS</p>
        </ion-card-content>
      </ion-card>

      <!-- Card with all favorite -->
    </div>
  </div>

</ion-content>